.hero-banner {
  background-color: #e9f7ff;
  padding-top: 20px;
  .hero-banner-inner {
    max-width: 1448px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    padding-left: 95px;
    padding-right: 95px;
    .arrow {
      height: 44px;
      width: 44px;
      min-width: 44px;
      border: 1px solid #007cc3;
      position: absolute;
      top: calc(50% - 90px);
      transform: translateY(-50%);
      z-index: 1;
      &.arrow-left {
        left: 0;
      }
      &.arrow-right {
        right: 0;
      }
    }
  }
}
.hero-content-block {
  max-width: 624px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: start;
  flex-direction: column;
  justify-content: center;
  .MuiTypography-h1 {
    padding-bottom: 20px;
  }
  .MuiTypography-body1 {
    padding-bottom: 24px;
    color: #525252;
  }
}
.banner-block {
  .banner-block-inner {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    padding: 14px;
    height: 260px;
    width: 100%;
  }
  .banner-img {
    max-width: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 0px 4px 32px 0px rgba(0, 124, 195, 0.12);
    border-radius: 20px;
  }
  .shape {
    max-width: 150px;
    width: 100%;
    position: absolute;
    &.banner-bottom-left {
      left: 0;
      bottom: 0;
    }
    &.banner-bottom-right {
      right: 0;
      top: 0;
    }
  }
  .client-box {
    background-color: #ffffff;
    box-shadow: 0px 12px 22px 0px rgba(0, 124, 195, 0.12);
    border-radius: 5px;
    position: absolute;
    right: -40px;
    bottom: -22px;
    padding: 14px;
    > .MuiTypography-body2 {
      padding-bottom: 10px;
      text-align: center;
    }
    ul {
      display: flex;
      flex-direction: column;
      gap: 8px;
      li {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 10px;
        .MuiAvatar-root {
          max-width: 34px;
          width: 100%;
        }
      }
    }
  }
}
.swiper-outer {
  &.swiper {
    padding-bottom: 152px;
  }
  .slide-content {
    background-color: #e9f7ff;
  }
  .swiper-pagination {
    line-height: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    top: auto !important;
    bottom: 64px !important;
    .swiper-pagination-bullet {
      margin: 0 !important;
      height: 7px;
      width: 35px;
      background-color: #c4ddeb;
      border-radius: 0;
      clip-path: polygon(10% 0, 100% 0, 90% 100%, 0% 100%);
      cursor: pointer;
      &.swiper-pagination-bullet-active {
        width: 65px;
        background-color: #007cc3;
      }
    }
  }
}

// About US
.about-us {
  padding-top: 120px;
  padding-bottom: 45px;
  .content-block {
    .MuiTypography-h4 {
      padding-bottom: 16px;
    }
    .MuiTypography-h2 {
      padding-bottom: 16px;
      max-width: 494px;
      width: 100%;
    }
    .MuiTypography-body1 {
      padding-bottom: 24px;
    }
  }
  .img-block {
    .outlined-img {
      max-width: 240px;
      width: 100%;
    }
    .img-1,
    .img-3 {
      margin-bottom: 16px;
    }
  }
}

// Features
.features {
  padding-top: 45px;
  padding-bottom: 90px;
  .info-block {
    max-width: 634px;
    width: 100%;
    .MuiTypography-h4 {
      padding-bottom: 16px;
    }
    .MuiTypography-h2 {
      padding-bottom: 16px;
    }
    .MuiTypography-body1 {
      padding-bottom: 16px;
    }
    .MuiButton-containedPrimary {
      margin-top: 8px;
    }
  }
}

// Green Energy
.green-energy {
  background: url("../../images/green-energy-bg.png") center no-repeat;
  background-size: cover;
  padding: 170px 20px;
  .MuiTypography-body1 {
    font-size: 56px;
    line-height: 68px;
    font-weight: 500;
    color: #ffffff;
    max-width: 1108px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
}

// Products
.products {
  padding-top: 90px;
  .MuiTypography-h2,
  .MuiTypography-body1 {
    text-align: center;
  }
  .MuiTypography-h2 {
    padding-bottom: 20px;
  }
  .MuiTypography-body1 {
    max-width: 860px;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 40px;
  }
}
/* Media Queries
  ---------------------------------------------------------------------------------------------------------------*/
@media (max-width: 1535px) {
  .hero-banner {
    .hero-banner-inner {
      .arrow.arrow-left {
        left: 16px;
      }
      .arrow.arrow-right {
        right: 16px;
      }
    }
  }
  .swiper-outer {
    &.swiper {
      padding-bottom: 120px;
    }
    .swiper-pagination {
      bottom: 40px !important;
    }
  }
  .about-us {
    padding-top: 70px;
    padding-bottom: 35px;
  }
  .features {
    padding-top: 35px;
    padding-bottom: 70px;
  }
  .products {
    padding-top: 70px;
  }
  .green-energy {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .banner-block {
    .client-box {
      right: 20px;
    }
  }
}
@media (max-width: 1199px) {
  .swiper-outer {
    &.swiper {
      padding-bottom: 90px;
    }
    .swiper-pagination {
      bottom: 30px !important;
    }
  }
  .banner-block {
    .client-box {
      display: none;
    }
  }
  .about-us {
    padding-top: 50px;
    padding-bottom: 25px;
  }
  .features {
    padding-top: 25px;
    padding-bottom: 50px;
  }
  .green-energy {
    padding-top: 80px;
    padding-bottom: 80px;
    .MuiTypography-body1 {
      font-size: 40px;
      line-height: 46px;
    }
  }
  .products {
    padding-top: 50px;
    .MuiTypography-body1 {
      padding-bottom: 30px;
    }
  }
  .hero-banner {
    padding-top: 36px;
    .hero-banner-inner {
      padding-left: 80px;
      padding-right: 80px;
    }
  }
}
@media (max-width: 899px) {
  .banner-block {
    .shape {
      display: none;
    }
    .banner-block-inner {
      padding: 0;
    }
    .banner-img {
      box-shadow: none;
    }
  }
  .hero-banner {
    padding-left: 16px;
    padding-right: 16px;
    .hero-content-block {
      .MuiTypography-h1 {
        padding-bottom: 8px;
        font-size: 30px;
        line-height: 36px;
      }
    }
    .hero-banner-inner {
      padding-left: 0;
      padding-right: 0;
      .arrow {
        height: 40px;
        width: 40px;
        min-width: 40px;
        bottom: 16px;
        top: auto;
        &.arrow-left {
          transform: translateX(-50%);
          left: calc(50% - 30px);
        }
        &.arrow-right {
          transform: translateX(-50%);
          right: calc(50% - 70px);
        }
      }
    }
  }
  .swiper-outer {
    &.swiper {
      padding-bottom: 80px;
    }
    .swiper-pagination {
      display: none;
    }
  }
  .green-energy {
    padding-top: 50px;
    padding-bottom: 50px;
    .MuiTypography-body1 {
      font-size: 32px;
      line-height: 38px;
    }
  }
  .products {
    .MuiTypography-body1 {
      padding-bottom: 20px;
    }
  }
}
@media (max-width: 599px) {
  .hero-banner {
    padding-top: 20px;
    .hero-content-block {
      .MuiTypography-h1 {
        font-size: 28px;
        line-height: 34px;
      }
      .MuiTypography-body1 {
        padding-bottom: 20px;
      }
    }
  }
  .about-us {
    padding-top: 30px;
    padding-bottom: 15px;
  }
  .features {
    padding-top: 15px;
    padding-bottom: 30px;
  }
  .green-energy {
    padding-top: 30px;
    padding-bottom: 30px;
    .MuiTypography-body1 {
      font-size: 24px;
      line-height: 30px;
    }
  }
  .products {
    padding-top: 30px;
  }
  .about-us {
    .img-block {
      .img-1,
      .img-2,
      .img-3 {
        display: none;
      }
    }
  }
}
