.footer {
  background-color: #005789;
  position: relative;
  padding: 50px 0 0;
  color: #ffffff;
  .logo {
    margin-bottom: 25px;
  }
  .address {
    padding-bottom: 20px;
    max-width: 365px;
    width: 100%;
  }
  .social-media-outer {
    display: flex;
    align-items: center;
    gap: 10px;
    .icon {
      height: 30px;
      width: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #007cc3;
      border-radius: 50%;
      transition: all 0.5s;
      transform: scale(1);
      &:hover,
      &:focus {
        transform: scale(1.2);
      }
    }
  }
  .MuiTypography-h6 {
    padding-bottom: 24px;
    color: #ffffff;
    line-height: 22px;
  }
  .company-list {
    display: flex;
    flex-direction: column;
    gap: 11px;
    li {
      a {
        background: url("../../images/triangular-arrow-icon.svg") center left
          no-repeat;
        background-size: 20px;
        padding-left: 26px;
        color: #ffffff;
        display: flex;
        align-items: center;
        &:hover,
        &:focus {
          color: #ef7c18;
        }
      }
    }
  }
  .contact-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    li {
      display: flex;
      align-items: center;
      gap: 8px;
      .MuiAvatar-root {
        align-self: flex-start;
        margin-top: 4px;
      }
      a {
        color: #ffffff;
        &:hover,
        &:focus {
          color: #ef7c18;
        }
      }
    }
  }
  .copyright-wrapper {
    background-color: #ef7c18;
    padding: 10px 0 11px;
    margin-top: 50px;
  }
  .copyright-outer {
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: space-between;
    flex-wrap: wrap;
    .MuiTypography-body1 {
      color: #ffffff;
      font-weight: 500;
    }
    .link-wrapper {
      display: flex;
      align-items: center;
      gap: 13px;
      a {
        color: #ffffff;
        display: inline-block;
        vertical-align: middle;
        position: relative;
        font-weight: 500;
        &::after {
          content: "";
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          height: 1px;
          bottom: 0;
          background-color: #ffffff;
          width: 0;
          transition: all 0.3s;
        }
        &:hover,
        &:focus {
          &::after {
            width: 100%;
          }
        }
        &:last-child::before {
          content: "";
          position: absolute;
          left: -7px;
          top: 50%;
          transform: translateY(-50%);
          bottom: 0;
          height: 20px;
          width: 1px;
          background-color: #ffffff;
        }
      }
    }
  }
}
/* Media Queries
  ---------------------------------------------------------------------------------------------------------------*/
@media (max-width: 1199px) {
  .footer {
    .address {
      padding-bottom: 16px;
    }
    .social-media-outer {
      padding-bottom: 20px;
    }
    .MuiTypography-h6 {
      padding-bottom: 20px;
    }
  }
}
@media (max-width: 899px) {
  .footer {
    padding-top: 40px;
    .copyright-wrapper {
      margin-top: 40px;
    }
  }
}
@media (max-width: 599px) {
  .footer {
    padding-top: 30px;
    .social-media-outer {
      padding-bottom: 8px;
    }
    .contact-list {
      gap: 16px;
    }
    .copyright-wrapper {
      margin-top: 30px;
    }
    .copyright-outer {
      flex-direction: column;
      text-align: center;
    }
  }
}
